.CollapsedChat {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #323d44;
    border-radius: 100%;

    position: fixed;
    bottom: 20px;
    left: 20px;

    width: 54px;
    height: 54px;

    .Icon {
        font-size: 32px;
    }

    &:hover {
        cursor: pointer;
    }

    user-select: none;
}

.UsernameWidget {
    display: flex;
    border-radius: 10px;
    border: #2c6fc4 2px solid;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 280px;

    padding: 4px;
    box-sizing: border-box;

    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;

    color: white;
    background-color: #061538;

    gap: 5px;

    input {
        width: 50%;
        text-align: center;
        background-color: #061538;
    }

    input:focus {
        outline: none;
    }

    user-select: none;
}

/* Below is the code for the chat portion. */

.Close {
    display: flex;
    position: absolute;

    top: 4px;
    right: 4px;
    left: auto;

    .Icon {
        font-size: 16px;
    }

    &:hover {
        cursor: pointer;
    }
}

.ChatWidget {
    display: flex;
    border-radius: 10px;
    border: #2c6fc4 2px solid;

    flex-direction: column;
    justify-content: space-between;

    width: 380px;
    height: 400px;

    padding: 4px;
    box-sizing: border-box;

    position: fixed;
    bottom: 20px;
    left: 20px;

    color: white;
    background-color: #061538;
}

.ChatWidget_Messages {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    margin: 2px;

    gap: 5px;

    overflow-y: scroll;
    overflow-x: clip;
}

.ChatWidget_Message {
    display: flex;
    flex-direction: row;

    gap: 2px;
}

.ChatWidget .MessageBox {
    display: flex;
}

.MessageBox_Input {
    width: 100%;
    background-color: #061538;
}

.MessageBox_Input:focus {
    outline: none;
}

@media screen and (max-width: 400px) {
    .UsernameWidget {
        width: calc(100% - 40px);
    }

    .ChatWidget {
        width: calc(100% - 40px);
        height: calc(50%);
    }
}
