.ChatPage {
    @apply flex flex-row justify-between;
    @apply h-screen w-full;

    background-color: #262626;
    font-family: Poppins, sans-serif;

    /* Variables */

    --width: 300px;
    --pane-width: #191919;
}

.ChatPage_LeftPane {
    @apply flex flex-col;
    @apply h-full w-screen;

    overflow-y: scroll;

    padding-top: 110px;
    padding-bottom: 10px;

    max-width: var(--width);
    background-color: var(--pane-width);

    &::-webkit-scrollbar {
        @apply hidden;
    }
}

.ChatPage_ChannelCreate {
    @apply text-center mt-2.5;

    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.ChatPage_Content {
    @apply flex flex-col;
    @apply h-full w-full;

    padding-top: 15px;

    overflow-y: scroll;
    padding-left: 15px;
}

.ChatPage_TextBox {
    @apply flex pt-5;

    position: absolute;
    bottom: 0;
}

.ChatPage_MessageList {
    @apply flex flex-col h-full;

    justify-content: flex-end;

    padding-bottom: 55px;
    height: 10000px;

    gap: 2px;
}

.ChatPage_Message {
    @apply relative flex flex-row w-full;
    @apply text-white;

    align-self: center;

    height: 45px;
    min-width: 300px;
    max-height: 275px;
    padding: 10px 15px 10px 15px;
    margin: 0 15px 10px 0;

    background-color: #1a1a1a;
    border-radius: 10px;

    resize: none;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #999;
    }
}

.ChatPage_RightPane {
    @apply flex flex-col;
    @apply h-full w-screen;

    max-width: var(--width);
    background-color: var(--pane-width);
}
