html {
    /* Variables */
    --bg-color: #191919;
    --bg-color2: #1A1A1A;

    --accent-bg: #262626;
    --accent-primary: #404040;
    --accent-secondary: #333333;
}

.ChatPage {
    @apply flex flex-row justify-between;
    @apply h-screen w-full;

    background-color: var(--accent-bg);
    font-family: Poppins, sans-serif;

    /* Variables */

    --width: 300px;
}

.ChatPage_LeftPane {
    @apply flex flex-col;
    @apply h-full w-screen;

    overflow-y: scroll;

    padding-top: 110px;
    padding-bottom: 10px;

    max-width: var(--width);
    background-color: var(--bg-color);

    &::-webkit-scrollbar {
        @apply hidden;
    }
}

.ChatPage_ChannelCreate {
    @apply text-center mt-2.5;

    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.ChatPage_Content {
    @apply flex flex-col;
    @apply h-full w-full;

    overflow-y: scroll;
}

.ChatPage_ActionBar {
    @apply flex flex-row justify-between w-full select-none;

    height: 40px;
    padding: 5px 15px 5px 15px;

    border-bottom: 1px solid black;
}

.ChatPage_Action {
    @apply flex flex-row gap-[15px];

    svg {
        width: 28px;
        height: 28px;

        &:hover {
            cursor: pointer;
        }
    }
}

.ChatPage_TextBox {
    @apply flex pt-5;

    position: absolute;
    bottom: 0;
}

.ChatPage_MessageList {
    @apply flex flex-col h-full;

    justify-content: flex-end;

    margin-left: 5px;
    margin-bottom: 10px;

    padding-bottom: 55px;
    height: 10000px;

    gap: 2px;
}

.ChatPage_Message {
    @apply relative flex flex-row w-full;
    @apply text-white;

    align-self: center;

    height: 45px;
    min-width: 300px;
    max-height: 275px;
    padding: 10px 15px 10px 15px;
    margin: 0 15px 10px 0;

    background-color: #1a1a1a;
    border-radius: 10px;

    resize: none;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #999;
    }
}

.ChatPage_RightPane {
    @apply flex flex-col;
    @apply h-full w-screen;

    max-width: var(--width);
    background-color: var(--bg-color);
}
