.LoginPage {
    @apply flex;
    @apply w-full h-screen;

    overflow: hidden;
    font-family: Poppins, sans-serif;
}

.LoginPage_Header {
    @apply flex flex-col;
    @apply items-center;

    gap: 10px;
    height: 70px;

    :nth-child(1) {
        @apply text-[30px] font-medium;
        line-height: 35px;
    }

    :nth-child(2) {
        @apply text-lg font-medium;
        height: 25px;
    }

    margin-bottom: 20px;
    user-select: none;
}

.LoginPage_External {
    @apply flex flex-col;

    gap: 10px;
}

.LoginPage_Button {
    @apply flex flex-row w-full;
    @apply justify-center bg-zinc-900 rounded-[5px];

    width: 340px;
    height: 50px;

    p {
        @apply text-white text-xl font-medium;
    }

    .Align {
        @apply flex flex-row items-center self-center;
    }

    cursor: pointer;
    user-select: none;
}
