.LoginPage {
    @apply flex;
    @apply w-full h-screen;

    overflow: hidden;
    font-family: Poppins, sans-serif;
}

.LoginPage_Background {
    @apply w-full h-full;

    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(5px);
}

.LoginPage_Container {
    @apply flex flex-col w-full;
    @apply absolute top-1/2 left-1/2;
    @apply transform -translate-x-1/2 -translate-y-1/2;

    width: 400px;
    height: fit-content;

    padding: 30px;
    box-sizing: border-box;

    text-align: center;
    border-radius: 10px;

    background-color: #262626;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.LoginPage_Header {
    @apply flex flex-col;
    @apply items-center;

    gap: 10px;
    height: 70px;

    :nth-child(1) {
        @apply text-[30px] font-medium;
        line-height: 35px;
    }

    :nth-child(2) {
        @apply text-lg font-medium;
        height: 25px;
    }

    margin-bottom: 20px;
    user-select: none;
}

.LoginPage_Form {
    @apply flex flex-col;
    @apply items-center;

    input, button {
        width: 340px;
        height: 50px;

        background-color: #1a1a1a;
        border-radius: 5px;

        padding: 10px;
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 20px;

        &:focus {
            outline: none;
        }

        user-select: none;
    }

    :nth-child(3) {
        @apply text-2xl font-medium;
    }
}

.LoginPage_Divider {
    @apply flex flex-row;
    @apply justify-between items-center;

    margin-bottom: 10px;
    font-size: 12px;
    user-select: none;
}

.LoginPage_Line {
    width: 150px;
    height: 0;
    border: 1px solid white;
    display: inline-block;

    user-select: none;
}

.LoginPage_External {
    @apply flex flex-col;

    gap: 10px;
}

.LoginPage_Button {
    @apply flex flex-row w-full;
    @apply justify-center bg-zinc-900 rounded-[5px];

    width: 340px;
    height: 50px;

    svg {
        @apply w-[24.50px] h-[25px] relative;
    }

    p {
        @apply text-white text-2xl font-medium;
    }

    .Align {
        @apply flex flex-row items-center self-center;
    }

    cursor: pointer;
    user-select: none;
}
