.HeaderBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/public/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    overflow-x: hidden;
}

.HeaderContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.HeaderLogo img {
    width: calc(100vw * 0.5);
    min-width: 400px;
    height: calc(100vw * 0.1);
    filter: grayscale(100%) drop-shadow(0 0 0.5rem aqua);
    object-fit: cover;
    object-position: 50% 50%;

    animation: blink 2.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

.HeaderByline {
    font-size: max(1.2vw, 17px);
    color: #ffffff;
    margin-top: 1rem;
    filter: drop-shadow(0 0 0.5rem black);
    margin-bottom: 100px;

    user-select: none;
}

.HeaderScroll :hover {
    cursor: pointer;
}

.HeaderScroll svg {
    width: 60px;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: calc(100vh * 0.1);
    filter: drop-shadow(0 0 0.5rem black);
}

.HeaderScroll svg path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 3px;
    animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.HeaderScroll svg path.ScrollArrow1 {
    animation-delay: -1s;
}

.HeaderScroll svg path.ScrollArrow2 {
    animation-delay: -0.5s;
}

.HeaderScroll svg path.ScrollArrow3 {
    animation-delay: 0s;
}
