@font-face {
    font-family: OstrichSansRounded;
    src: url(../fonts/OstrichSansRounded-Medium.otf);
}

.OrgInfo {
    border: 1px solid transparent;
}

.OrgInfoDescription {
    font-family: OstrichSansRounded, sans-serif;
    letter-spacing: 20px;
    text-align: center;
    font-size: 50px;
    margin-top: 70px;

    user-select: none;
}

.OrgInfoMembersList {
    margin: 130px auto 50px;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.OrgInfoMember {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(-20%);
}

.show {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
}

.OrgInfoMemberImage img {
    width: 50px;
    height: 50px;
    border: 2px solid #2994D1;
    border-radius: 50%;
    background-color: #161b1e;

    transition: 0.2s ease-in-out;
}

.OrgInfoMemberImage img:hover {
    transform: scale(2);
    border-radius: 0;
}

.OrgInfoMemberName {
    margin-left: 10px;
    display: flex;
    font-size: 20px;
    align-items: center;
}

.OrgInfoMemberName svg {
    margin-left: 5px;
    width: 40px;
}

.OrgInfoMemberName svg path {
    fill: #6fa8d2;
    transform: scale(0.5);
}

.OrgInfoMemberName svg:hover {
    cursor: pointer;
    filter: brightness(0.7);
    transition: 0.2s ease-in-out;
}

.OrgShapeDivider {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.OrgShapeDivider img {
    width: 100%;
    height: 220px;
}

@media (max-width: 530px) {
    .OrgInfoMembersList {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 30px;
    }
}
